body {
    background-color:#18222e;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900px;
}
footer {
    background-color:  #18222e ;
}
footer p {
    color: white;
}

h1,h2,h4,h5 {
    font-weight: 900px;
    color: white;
}
.darkText {
    color: #18222e;
}
.secondaryParagraph {
    background-color: white;
    margin-top: 40px;
    overflow: hidden;
}
.secondaryParagraph p {
    margin: 100px;
}