.container {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color:#18222e;
    font-family: 'Courier New', Courier, monospace;
    
}
footer {
    background-color:  #18222e ;
}
footer p {
    color: white;
}

h1,h2,h4,h5 {
    font-weight: 900px;
    color: white;
}
.darkText {
    color: #18222e;
}
.secondaryParagraph {
    background-color: white;
    margin-top: 40px;
    overflow: hidden;
    
}
.cardContainer {
    background-color: white;
    padding: 40px
}
.secondaryParagraph p {
    margin: 100px;
}
.secondaryParagraph h2 {
    margin: 100px;
}
.card-list {
    margin-top: 20px;
}
.carousel-item {
    height: 600px;
    overflow: hidden;
}
.carouselContainer {
    padding: 50px 150px 200px 150px;
}
.center {
    text-align: center;
}
.card {
    overflow: hidden;
    height: 600px;
}
.card-group {
    overflow: hidden;
    height: 600px;
    width:1000px;
    text-align: center;
    margin: auto;
}
.card-text {
    margin: 0;
}
.typeLink {
    text-decoration: none;
    background-color: #5EB1BF;
    border-radius: 8px;
    display: block;
    color: white;
    height: 30px;
    border: solid 2px #18222e;
    transition: background-color 1s, color 1s;
}
.typeLink:hover {
    text-decoration: none;
    background-color: white;
    color: #5EB1BF;
}


