.container {
    font-family: 'Courier New', Courier, monospace;
}
h1,h2,h4,h5 {
    font-weight: 900px;
    color: white;
}
.hero {
    background-color:  #18222e;
}
.hero-post{
    position: relative;

}
.hero-post-badges {
    position: absolute;
    top: 20px;
    right: 20px;
    
}
.hero-post-badges>a {
    background-color: black;
}
.hero-post-content {
    position: absolute;
    bottom: 20px;
        
}
footer {
    background-color:  #18222e;
}
footer p {
    color: white;
}

